.loginbox{
  width: 40%;
  height: 500px;
  background-color: rgb(50, 116, 109);
  margin-left: 30%;
  margin-top: 5%;
  border-radius: 10px;
  box-shadow: 1px 1px 15px 1px rgb(50, 116, 109);
  padding-top: 1%;
}

.heading{
  color: white;
   
}

.forminputs{
  width: 80%;
  height: 300px;
  margin-left: 10%;
  margin-top: 5%;
  padding-top: 5%;
}

.textfield{
  background-color: white;
  width: 90%;
  height: 55px;
 margin-bottom: 5%;

}
.grid{
  padding-top: 5%;
  margin-bottom: 5%;
}