.chatdiv{
    display: flex;
    position: absolute;
    bottom: 1%;
    width: 68%;
    height: 45px;
}

.chatbox{
    width: 94%;
    height: 40px;
    margin-left: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 4px; 
    font-size: 16px;
}
.send_msg_icon{
    margin-top: 1%;
}
.moreVertIcon{
    margin-top: 6%;
    cursor: pointer;

}
.dataList{
    list-style: none;
    width: 100px;
    height: 35px;
    font-size: 17px;
    text-align: center;
    border-bottom: 1px solid rgb(200, 198, 198);
    cursor: pointer;
}