.pageControlMain {
    width: 100%;
    height: 75px;
    margin: 0;
    display: flex;
    background-color: #f0f2f5;
    border: 1px solid #f0f2f5;
}
.personAddIcon{
    margin-top: 6%;
    margin-left: 6%;
    margin-right: 4%;
    cursor: pointer;
}
